@charset "UTF-8";
/* CSS Document */

html, body, p, h1 {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Avenir", "Times New Roman", Times, serif;
	background-color: #C0C0C0;
}
.container {
	width: 900px;
	margin: auto;
	background-color: #F3F3F3;
	min-height: 100%;
}
.content {
	width: 900px;
	background-color: #F3F3F3;
	box-shadow: 0 0 10px #666;
	float: left;
	padding: 0 0 30px 0;
	margin: 0 0 40px 0;
}
/* home page */
/* name and email on top */
.name {
	color: #000;
	font-family: "Heiti TC", Arial, Helvetica, sans-serif;
	font-size: 60px;
	margin: 30px 0 30px 20px;
	float: left;
	width: 800px;
	text-decoration: none;
}
.smaller {
	font-size: 40px;
}
.email {
	font-size: 20px;
	margin: 0 0 0 5px;
}
/* navigation bar */
.navigation_bar {
	background-color: #C0C0C0;
	height: 32px;
	width: 75%;
	float: left;
	marigin: 0 100px 0 0;
}
.navigation_bar_container {
	width: 100%;
	float: left;
	margin: 0;
	overflow: hidden;
}
.nav_options {
	margin: 3px 0 0 0;
}
/* nav links */
.navigation_bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.navigation_bar ul li {
	display: inline;
	list-style: none;
}
.navigation_bar ul li a {
	text-decoration: none;
	color: #000;
	padding: 15px 25px;
	height: 40px;
	font-size: 24px;
	font-family: "Devanagari MT";
}
.navigation_bar ul li a:hover {
	color: #E17D5B;
}
.navigation_bar ul li a:link {
}
.navigation_bar ul li a:active {
}
.navigation_bar ul li a:visited {
}
.navigation_bar ul li a.current {
	color: #FFF;
	background-color: #888;
}
.navigation_bar ul li .nav_contact {
	margin: auto 35px auto auto;
}
.navigation_bar ul li ul {
	display: none;
}
/* ////////////////////////////// */
.citation {
	text-decoration: none;
	color: #A0A0A0;
}
.citation:hover {
	color: #E17D5B;
}
/* ////////////////////////////// */
/* PAGE: about */
.about_text {
	width: 550px;
	float: left;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 25px 10px 0 0;
	text-align: justify;
}
.about_text p {
	margin: 20px;
}
.headshot {
	background-image: url(picture200.jpg);
	width: 200px;
	height: 268px;
	float: right;
	margin: 50px 100px 0 0;
	border: 1px solid #000;
}
/* ////////////////////////////// */
/* PAGE: readings */
/* readings - navigation */
.list {
	float: left;
	width: 600px;
}
.list li {
	margin: 12px 0 0 0;
}
.list li a {
	color: #333;
	font-size: 20px;
}
.list li a:hover {
	color: #E17D5B;
}
.list li a:link {
}
.list li a:active {
}
.list li a:visited {
}
.list li a.current {
	color: #FFF;
	background-color: #888;
}
/* */
.readings {
	width: 100%;
	margin: 0 20px;
	float: left;
	font-family: "Devanagari Sangam MN", Arial, Helvetica, sans-serif;
}
.readings h1 {
	color: #A22A0E;
	background-color: #E17D5B;
	float: left;
	width: 788px;
	font-size: 25px;
	margin: 20px 0 0 36px;
}
.readings .h1_text {
	margin: 4px 0 0 20px;
	float: left;
	font-family: "Devanagari MT";
}
.readings h2 {
	font-size: 25px;
	margin: 15px 0 0 0;
	float: left;
	font-family: "Minion Pro";
	width: 100%;
}
.readings p {
	float: left;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	margin: 10px 30px;
	font-size: 15px;
	text-align: justify;
}
/***************/
.week_pic {
	width: 500px;
	height: 310px;
	float: left;
	background-image: url(week.jpg);
	margin: 0 0 0 30px;
	box-shadow: 0 0 5px #666;
}
.day_pic {
	width: 175px;
	height: 310px;
	float: left;
	background-image: url(day.jpg);
	margin: 0 0 0 40px;
	box-shadow: 0 0 5px #666;
}
.search_pic {
	width: 362px;
	height: 250px;
	background-image: url(search.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 30px;
}
.song_pic {
	width: 340px;
	height: 250px;
	background-image: url(song.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 40px;
}
.homescreen_pic {
	width: 144px;
	height: 200px;
	background-image: url(homescreen.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 100px;
}
.today_pic {
	width: 150px;
	height: 200px;
	background-image: url(today.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 60px;
}
.recipe_pic {
	width: 144px;
	height: 200px;
	background-image: url(recipe.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 60px;
}
.h1 h2 {
	margin: 40px 0 0 0;
}
.shazam_touch_pic {
	width: 200px;
	height: 300px;
	background-image: url(images/shazam_touch.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 0 0 170px;
}
.shazam_listening_pic {
	width: 200px;
	height: 300px;
	background-image: url(images/shazam_listening.jpg);
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 20px 190px 0 100px;
	padding:
}
.shazam {
	width: 100%;
	float: left;
	margin: 0 0 30px 0;
}
.ical_day_pic, .ical_week_pic, .ical_month_pic, .ical_editing_pic {
	width: 400px;
	height: 234px;
	box-shadow: 0 0 5px #666;
	float: left;
	margin: 10px 30px 0 0;
}
.ical_day_pic {
	background-image: url(images/ical_day_400.jpg);
	width: 400px;
	height: 234px;
	margin: 10px 15px 0 15px;
}
.ical_week_pic {
	background-image: url(images/ical_week.jpg);
}
.ical_month_pic {
	background-image: url(images/ical_month.jpg);
		margin: 20px 15px 0 15px;

}
.ical_editing_pic {
	background-image: url(images/ical_editing.jpg);
			margin: 20px 20px 0 0;

}
.ical_pics {
	width: 100%;
	heigth: 400px;
}
.ical {
	width: 100%;
	float: left;
		margin: 0 0 30px 0;
}
.snapchat_button_pic, .snapchat_recording_pic {
	width: 169px;
	height: 300px;
	box-shadow: 0 0 5px #666;
	float: right;
}
.snapchat_button_pic {
	background-image: url(images/snapchat_button.jpg);
	margin: 0 0 0 20px;
}
.snapchat_recording_pic {
	background-image: url(images/snapchat_recording.jpg);
	margin: 0 20px 0 40px;
}

.snapchat_pics {
	float: right;
	margin: 10px 0 0 0;
}
.snapchat {
	width: 100%;
	float: left;
	margin: 0 0 30px 0;
}
.shazam_second_paragraph {
	width: 400px;
}
.timer_second_paragraph {
	width: 400px;
}
.timer_pic {
	width: 400px;
	height: 219px;
	float: right;
	background-image: url(images/timer.jpg);
	box-shadow: 0 0 5px #666;
	margin: 0 10px 0 0;
}
.team_project_link a{
	width: 100%;
	float: left;
	list-style: none;
	margin: 30px 40px 10px 30px;
	font-size: 30px;
	color: #333;
}
.team_project_link a:current {}
.team_project_link a:link {}
.team_project_link a:hover {
	color: #E17D5B;
}
.team_project_link a:active {}
.team_project_link a:visited {}

ol li {
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0 0 10px 0;
	width: 100%;
}
.list_in_reading li{
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 15px;
	margin: 0 0 10px 0;
	float: left;
	width: 100%;
}

.line_picture {
	width: 300px;
	height: 402px;
	background-image: url(images/afterhours_line.jpg);
	float: left;
	margin: 10px 250px 0 200px;
}
.pic_caption {
	margin: 0 179px;
	width: 340px;
	text-align:center;
	float: left;
	font-family: "Avenir", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.area_picture {
	width: 400px;
	height: 299px;
	background-image: url(images/afterhours_area.jpg);
	float: left;
	margin: 20px 0 0 140px;
}
.ethno_fix {
	width: 730px;
	margin: auto;
}
.hci {
	height: 32px;
	width: 100%;
	float: left;
	text-align: center;
}
.hci p {
	margin: 5px 0;
}

.readings ol {
width: 800px;
float: left;
}

/* fdhasjkfda */
.homework_page .list {
	width: 700px;
}
